body{
    background-color:black;
}
#canvas{
    position: absolute;
    border:2px solid rgb(195, 41, 41);
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}